.blue {
    border: solid;
    background-color: #103985e1;
    position: absolute;
    width: 75px;
    height: 50px;
    margin: 10px;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    transition-duration: 0.4s;
    top: 300px;
    left: 50px;
  }
  .blue:hover {
    background-color: #003566;
    position: absolute;
    width: 75px;
    height: 50px;
    margin: 10px;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 100px;
    color: white;
    transition-duration: 0.4s;
    top: 300px;
    left: 50px;
  }
  .pink {
    background-color: #da8facd0;
    position: absolute;
    width: 100px;
    height: 50px;
    margin: 10px;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    transition-duration: 0.4s;
    top: 300px;
    left: 130px;
  }
  .pink:hover {
    background-color: #ffc8dd;
    position: absolute;
    width: 100px;
    height: 50px;
    margin: 10px;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 100px;
    color: white;
    transition-duration: 0.4s;
    top: 300px;
    left: 130px;
  }
  .brown {
    background-color: #6c340b81;
    position: absolute;
    width: 90px;
    height: 50px;
    margin: 10px;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    transition-duration: 0.4s;
    top: 300px;
    left: 235px;
  }
  .brown:hover {
    background-color: #99582a;
    position: absolute;
    width: 90px;
    height: 50px;
    margin: 10px;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 100px;
    color: white;
    transition-duration: 0.4s;
    top: 300px;
    left: 235px;
  }
  h1 {
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 500%;
    font-family: default;
  }

  p {
    position: absolute;
    top: 200px;
    left: 50px;
    font-size: 30px;
    font-family: default;
  }
  img {
    border-radius: 30px;
    width: 700px;
    height: 450px;
    position: absolute;
    top: 100px;
    right: 200px;
    transition-duration: 0.5s;
  }
  img:hover {
    border-radius: 30px;
    width: 710px;
    height: 460px;
    position: absolute;
    top: 100px;
    right: 200px;
    transition-duration: 0.5s;